body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.image-box {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    position: relative;
    min-height: 100px;
    box-sizing: border-box;
    color: #707070;
    height: 100%;
}

footer {
    margin: 50px 0;
}