.info-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-box {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    position: relative;
    min-height: 100px;
    box-sizing: border-box;
    color: #707070;
    height: 100%;
}